body {
    margin: 0;
    padding: 0;
    background-color: var(--color-foreground);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 13vh;
    width: 95vw;
}

#video-container {
    position: relative;
}

#video-feed {
    width: 55vw;
    z-index: 0;
}

.detection-container {
    margin-top: 12vh;
    width: 38vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    z-index: 1;
}

.detection-list {
    padding: 0;
}

.detection-element {
    max-width: 38vw;
    font-family: Helvetica, sans-serif;
    color: black;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.detection-element .detection-name {
    font-size: 45px;
    font-weight: bold;
}

.detection-element .detection-desc {
    font-size: 30px;
    opacity: 70%;
}
